<!doctype html>
<html lang="zh-CN">
  <head>
    {% include head.html %}
  </head>
  <body{% if page.permalink == '/' %} class="home-page"{% elsif page.collection == 'projects' or page.collection == 'competitions' %} class="detail-page"{% endif %}>
    {% if page.collection == 'projects' or page.collection == 'competitions' %}
      {% include back-home.html %}
    {% else %}
      {% include header.html %}
    {% endif %}
    <main class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
